<% if @error %>
  <h2><%= @error %></h2>
<% end %>
<% @videos.each do |video| %>
<div class="video-container"><!-- Not semantic. No time to care. -->
  <form action="/videos/<%= video['id'] %>" method="post">
  <div class="form-row"><input type="text" size="80" name="video_id" id="video_id" placeholder="Youtube URL" value="<%= "http://youtu.be/#{video['video_id']}" %>"></div>
  <div class="form-row"><input type="text" size="80" name="title" id="title" placeholder="Enter a title" value="<%= "#{video['title']}" %>"></div>
  <div class="form-row"><textarea maxlength="500" cols="79" rows="5" placeholder="Enter a description" name="description" id="description"><%= video['description'] %></textarea></div>
  <button type="submit">Update video</button>
  </div>
</form>
<% end %>