<% @videos.each do |video| %>
<div class="video-container">
<div class="title"><%= video['title'] %></div>
<iframe type="text/html" width="640" height="390" src="http://www.youtube.com/embed/<%=video['video_id']%>?autoplay=0" frameborder="0"/></iframe>
<div class="right-align">[<a href="/videos/<%= video['id'] %>/edit">edit</a>] [<a href="/videos/<%= video['id'] %>/delete">delete</a>]</div>
<div class="preformatted"><%= video['description'] %></div>
</div>
<% end %>